<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="blog-list-fragment" class="am-u-lg-8 am-u-sm-12">
    <main class="articles-list">
        <div>
            <th:block th:if="${null != blogPageResult}">
                <th:block th:each="blog,iterStat : ${blogPageResult.list}">
                    <article class="am-g blog-entry-article">
                        <div class="am-u-lg-6 am-u-lg-12 am-u-sm-12 blog-entry-text post-preview">
                            <div class="topic-header" style="font-size: larger;color: black;">
                                <a th:href="@{'/blog/' + ${blog.blogId}}">
                                    <h2 th:text="${blog.blogTitle}"></h2>
                                </a>
                            </div>
                            <div class="post-content-preview article-body" style="font-style: italic;color: #a3a3a3;font-size: 14px;">
                                <a th:href="@{'/blog/' + ${blog.blogId}}">
                                    <p th:text="${blog.blogContent}"></p>
                                </a>
                            </div>
                            <div class="topic-footer">
                                <!--<span>posted by</span>-->
                                <span th:text="${configurations.get('yourName')}">七月的风</span>
                                <span>发布于</span>
                                <span
                                      th:text="${#dates.format(blog.createTime, 'yyyy/MM/dd')}">2019,01,01</span>
                            </div>
                        </div>
                    </article>
                </th:block>
            </th:block>
        </div>
    </main>
</div>
</html>